addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf
timm
einops
cupy-cuda111
matplotlib
fvcore
thop
pthflops
ffmpeg-python
imageio-ffmpeg